<header class="nk-header">
    <!--
    START: Navbar
-->
<nav style="background-color: white; border-style:none;" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a style="margin-top: -10px;" class="navbar-brand" href="/">
                <img class="img-responsive pull-left faa-float animated-hover faa-slow" style="" src="/assets/logo.jpg" width="240">
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav main-nav  clear navbar-right ">
                  <li><a class="navactive color_animation faa-float animated-hover faa-slow" href="#top">HOME</a></li>
                  <li><a class="color_animation faa-float animated-hover faa-slow" href="#about">ABOUT</a></li>
                  <li><a class="color_animation faa-float animated-hover faa-slow" href="#menu">MENU</a></li>
                  <li><a class="color_animation faa-float animated-hover faa-slow" href="#contact">HOURS & LOCATION</a></li>
                  <li><a class="color_animation faa-float animated-hover faa-slow" href="/chinese">中文</a></li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div>
  </div><!-- /.container-fluid -->
</nav>
    <!-- END: Navbar -->

</header>



<div class="nk-main">

    <!-- START: Header Title -->
    <div id="top" class="nk-header-title nk-header-title-full">
        <div class="bg-image">
            <div style="background-image: url('/assets/cover.jpg'); margin-top: 20px;"></div>
            <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div>
        </div>
        <div class="nk-header-table">
            <div class="nk-header-table-cell">
                <div class="container">
                  <div class="nk-gap"></div>
                  <div class="nk-gap"></div>
                  <div class="nk-gap"></div>
                  <div class="nk-gap"></div>
                  <div class="nk-gap"></div>
                  <p>
                    <h2 style="font-size: 20px;" class="nk-subtitle text-white">AA Plus Restaurant</h2>
                    <h1 class="nk-title display-3 text-white">Mix & Match
                        <br>
                        <em class="fw-400">Your One and Only Noodle Soup</em>
                    </h1>
                    <div class="nk-gap"></div>
                    <div>
                        <a class="nk-header-title-scroll-down text-white  faa-float animated" href="#nk-header-title-scroll-down">
                            <span class="pe-7s-angle-down  faa-bounce animated"></span>
                        </a>
                    </div>


                </div>
            </div>
        </div>

        <div>
          <div class="faa-pulse animated-hover faa-slow">
            <a href="#nk-header-title-scroll-down">
              <span class="class="nk-header-title-scroll-down text-white"">
                <span class="fa fa-cutlery"></span>
              </span>
            </a>
          </div>
        </div>

    </div>

    <div id="nk-header-title-scroll-down"></div>

    <!-- END: Header Title -->





    <!-- START: About Our Agency -->
    <div class="bg-white" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-xs-center">
                    <div class="nk-gap-4 mt-9"></div>

                    <h2 class="display-4">What Do We Serve?</h2>
                    <div class="nk-gap mnt-5"></div>

                    <p>We proudly serve the neighbourhood with the finest fish noodle soup.  You are able to customize your own fish noodle soup by adding a variety of toppings and side dishes to your liking.
                    </p>


                    <div class="nk-gap-4 mt-25"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: About Our Agency -->

    <!-- START: Features -->
    <div class="nk-box bg-dark-1 text-white">
        <div class="bg-image bg-image-parallax" style="background-image: url('assets/bg1.jpg');"></div>
        <div class="nk-gap-5 mnt-6"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#menu">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-cutlery faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">12</div>
                            <div class="nk-ibox-text">Soup Bases</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#toppings">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-flask faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">44</div>
                            <div class="nk-ibox-text">Toppings</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#noodles">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-star faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">8</div>
                            <div class="nk-ibox-text">Types of Noodles</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#sides">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-heart faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">10</div>
                            <div class="nk-ibox-text">Appetizers</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#sides">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-bell faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">11</div>
                            <div class="nk-ibox-text">Side Orders</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-coffee faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">12</div>
                            <div class="nk-ibox-text">Drinks</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-5 mnt-6"></div>
    </div>
    <!-- END: Features -->

    <!-- START: Menu Soup -->
    <div class="nk-box bg-white" id="menu">
        <div class="nk-gap-4 mt-5"></div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <h2 class="text-xs-center display-4">How To Order Your Own Noodle Soup</h2>
          <br>
        </div>
        <div class="col-md-2">
        </div>
        <div style="text-align: center; font-size: 14px;" class="col-md-12">
          <p class="text-xs-center display-7 ">1 Soup Base + 2 Toppings + 1 Noodle + 1 Drink = $10 (Tax & Tips Included)</p>
          <hr>
        </div>
        <div class="nk-gap-4 mt-5"></div>
        <div class="col-md-12">
          <h3 class="text-xs-center display-7">Step 1: Choose Your Soup Base</h3>
        </div>

        <div class="nk-gap-4 mt-5"></div>

        <div class="nk-gap-2 mt-12"></div>
        <div class="container">
        <div class="nk-portfolio-list nk-isotope nk-isotope-4-cols">


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/03.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">ChenPi Minced Pork</h2>
                            <div class="portfolio-item-category">Fish Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Ginger & Pepper</h2>
                            <div class="portfolio-item-category">Fish Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Soup">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/01.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Original</h2>
                            <div class="portfolio-item-category">Fish Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Tomatoe & Pumpkin </h2>
                            <div class="portfolio-item-category">Fish Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Parsley & Century Egg</h2>
                            <div class="portfolio-item-category">Fish Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/04.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Papaya & Barley</h2>
                            <div class="portfolio-item-category">Fish Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/02.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Japanese Miso</h2>
                            <div class="portfolio-item-category">Fish Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Satay</h2>
                            <div class="portfolio-item-category">Fish Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Chicken</h2>
                            <div class="portfolio-item-category">Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/06.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Vegetarian</h2>
                            <div class="portfolio-item-category">Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/07.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Thai Tom Yum Goong</h2>
                            <div class="portfolio-item-category">Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/05.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Malay Laksa</h2>
                            <div class="portfolio-item-category">Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/08.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Szechuan Spicy</h2>
                            <div class="portfolio-item-category">Soup Base</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="nk-gap-4 mt-15"></div>
        <hr>
    </div>
    <!-- END: Menu Soup -->



    <!-- START: Menu Toppings -->
    <div class="nk-box bg-white" id="toppings">
        <div class="nk-gap-4 mt-5"></div>
        <div class="col-md-12">
          <h3 class="text-xs-center display-7">Step 2: Choose Your Toppings</h3>
        </div>
        <div class="col-md-12">
          <p class="text-xs-center display-7">Additional Topping $1.50 Per Item</p>
        </div>

        <div class="nk-gap-4 mt-5"></div>

        <div class="nk-gap-2 mt-12"></div>
        <div class="container">
        <div class="nk-portfolio-list nk-isotope nk-isotope-4-cols">


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/40.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Sliced Beef Brisket</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/31.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Beef Tendon</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Soup">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/36.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Beef Stomach</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/17.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Beef Tripe</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/32.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Sliced Beef</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/33.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Hot Pot Sliced Beef</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/38.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Pork Intestines</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/37.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Pork Stomach</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/41.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Pork Liver</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/34.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Pork Jowl</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/39.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Chicken Breast Sliced</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/12.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Beef Balls</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/7.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Vietnamese Style Pork</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/16.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Pork Mushroom Balls</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/19.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Luncheon Meat</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/22.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Ham</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/11.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Specialty Pork Sausage</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/44.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Cocktail Sausage</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/10.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Cheese Sausage</h2>
                            <div class="portfolio-item-category">MEAT</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/35.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Fish Filet</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/30.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Sliced Cuttlefish</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/1.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">New Zeland Mussels (2pcs)</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/43.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Cantonese Fish Balls</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/13.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Fish Balls</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/6.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Cuttlefish Balls</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/3.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">HongKong Fish Puffs</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/9.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Fish Tofu</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/27.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Imitated Crab Meat</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/4.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Imitated Lobster Balls</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/13.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">House Special Balls</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/8.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Japanese Fish Roll</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/100.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Deep Fried Fish Cake</h2>
                            <div class="portfolio-item-category">SEAFOOD</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/2.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Braised Soy Sauce Egg</h2>
                            <div class="portfolio-item-category">OTHER</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/28.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Fresh Bean Curd</h2>
                            <div class="portfolio-item-category">OTHER</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/15.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Deep Fried Tofu</h2>
                            <div class="portfolio-item-category">OTHER</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/20.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Enoki Mushroom</h2>
                            <div class="portfolio-item-category">Veggie</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/21.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">White Mushroom</h2>
                            <div class="portfolio-item-category">Veggie</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/29.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Seaweed</h2>
                            <div class="portfolio-item-category">Veggie</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/23.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Sliced Pumpkins</h2>
                            <div class="portfolio-item-category">Veggie</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/18.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Choy Sum</h2>
                            <div class="portfolio-item-category">Veggie</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/26.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Agaric</h2>
                            <div class="portfolio-item-category">Veggie</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/25.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Black Fungus</h2>
                            <div class="portfolio-item-category">Veggie</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/24.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Braised Shiitake Mushroom</h2>
                            <div class="portfolio-item-category">Veggie</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/14.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Deep Fried Taro</h2>
                            <div class="portfolio-item-category">Veggie</div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          </div>
          <div class="nk-gap-4 mt-15"></div>
          <hr>
      </div>
    <!-- END: Menu Toppings -->


    <!-- START: Noodle Menu -->
    <div class="nk-box bg-white" id="noodles">
      <div class="nk-gap-4 mt-5"></div>
      <div class="col-md-12">
        <h3 class="text-xs-center display-7">Step 3: Choose Your Noodle</h3>
      </div>

      <div class="nk-gap-4 mt-5"></div>

      <div class="nk-gap-2 mt-12"></div>
      <div class="container">
      <div class="nk-portfolio-list nk-isotope nk-isotope-4-cols">


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/1.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Rice Noodle</h2>
                            <div class="portfolio-item-category">THICK</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/2.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Vermicelli</h2>
                            <div class="portfolio-item-category">THIN</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Soup">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/3.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Flat Rice Noodle</h2>
                            <div class="portfolio-item-category">MEDIUM</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/6.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Egg Noodle</h2>
                            <div class="portfolio-item-category">MEDIUM</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/7.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Instant Noodle</h2>
                            <div class="portfolio-item-category">THIN</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/4.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Korean Style Noodle</h2>
                            <div class="portfolio-item-category">THIN</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/5.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">UDON</h2>
                            <div class="portfolio-item-category">THICK</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/8.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">Ramen</h2>
                            <div class="portfolio-item-category">MEDIUM</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>
        <div class="nk-gap-4 mt-15"></div>
        <hr>

        <!-- START: MISC MENU -->

        <div class="nk-box bg-white" id="sides">
          <div class="nk-gap-4 mt-5"></div>
          <div class="col-md-12">
            <h3 class="text-xs-center display-7">Appetizers & Sides</h3>
          </div>

          <div class="nk-gap-4 mt-5"></div>

          <div class="nk-gap-2 mt-12"></div>
          <div class="container">
          <div class="nk-portfolio-list nk-isotope nk-isotope-4-cols">


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/1.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Deep Fried Wings</h2>
                                <div class="portfolio-item-category">$2.50 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/2.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Pork Chop Cutlet</h2>
                                <div class="portfolio-item-category">$2.50 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/10.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Fish Filet Cutlet</h2>
                                <div class="portfolio-item-category">$2.50 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Soup">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/3.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Deep Fried Pork/ Fish/ Wings & Chips</h2>
                                <div class="portfolio-item-category">$5.00 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/4.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Bubble Waffle</h2>
                                <div class="portfolio-item-category">$4.00 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/5.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Deep Fried Chicken Nugget</h2>
                                <div class="portfolio-item-category">$5.00 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/12.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Dumplings With Chili Oil (7pcs)</h2>
                                <div class="portfolio-item-category">$5.00 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/6.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Hainanese Chicken Laksa Noodle Soup</h2>
                                <div class="portfolio-item-category">$10.00 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/7.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Hainanese Chicken With Rice</h2>
                                <div class="portfolio-item-category">$10.00 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/8.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Chicken & Mushroom Steamed Rice</h2>
                                <div class="portfolio-item-category">$7.50 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/9.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Spareribs & Ham With Black Bean Sauce Steamed Rice</h2>
                                <div class="portfolio-item-category">$7.50 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/14.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Preserve Meat & Egg Steamed Rice</h2>
                                <div class="portfolio-item-category">$7.50 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/15.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Minced Pork With Preserved Veg Steamed Rice</h2>
                                <div class="portfolio-item-category">$7.50 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/11.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Lotus Leaf Wrapped Steamed Fish And Tofu With Black Bean Sauce</h2>
                                <div class="portfolio-item-category">$10.00 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/13.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">Lotus Leaf Wrapped Steam Chicken With Goji Berry And Black Fungus</h2>
                                <div class="portfolio-item-category">$10.00 (Tax & Tips Included)</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            </div>
            <div class="nk-gap-4 mt-15"></div>
            <hr>

        <!-- END: MISC MENU -->


    </div>
    <!-- END:  MENU -->




    <!-- START: Contact Info -->
    <div class="container" id="contact">
        <div class="nk-gap-5"></div>
        <div class="row vertical-gap">
            <div class="col-lg-5">
                <!-- START: Info -->
                <h2 class="display-4">HOURS & LOCATION:</h2>
                <div class="nk-gap mnt-3"></div>

                <ul class="nk-contact-info">
                    <li>
                        <strong>Address:</strong> 5207 Victoria Dr, Vancouver, BC V5P 3V4</li>
                    <li>
                        <strong>Phone:</strong> (604) 565-8121</li>
                    <li>
                        <strong>Hour:</strong>
                        <ul>
                          <li>Monday: 10:30am ~ 8:30pm</li>
                          <li>Tuesday: 10:30am ~ 8:30pm</li>
                          <li>Wednesday: Closed</li>
                          <li>Thursday: 10:30am ~ 8:30pm</li>
                          <li>Friday: 10:30am ~ 8:30pm</li>
                          <li>Saturday: 10:30am ~ 8:30pm</li>
                          <li>Sunday: 10:30am ~ 8:30pm</li>
                        <ul>
                    </li>
                </ul>
                <!-- END: Info -->
            </div>

            <div class="col-lg-7">
              <div class="maps" onclick="document.getElementById('iframe').style.pointerEvents= 'auto'">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10420.234542515831!2d-123.0656173!3d49.2373775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c31a8afdb8e7df9!2sAA+Plus+Restaurant!5e0!3m2!1sen!2sca!4v1499765091922" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>

        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Contact Info -->




    <!--
START: Footer
-->
    <footer class="nk-footer">


        <div class="nk-footer-cont">
            <div class="container text-xs-center">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <p class="sub-footer-text text-center"><a href="#top">Back To Top</a></p>
              </div>
              <div class="col-md-4">
                <div class="sub-footer-text text-center">
                    <p style="font-size: 10px;">&copy; <a style="text-decoration: none;" href="http://www.noctiflow.com">Noctiflow <%= Time.now.strftime("%Y") %> <img src="/assets/noctiflowlogo.png"></a></p>
                </div>
              </div>
            </div>




      </div>
    </footer>
    <!-- END: Footer -->


</div>
