<header class="nk-header">
    <!--
    START: Navbar
-->
<nav style="background-color: white; border-style:none;" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a style="margin-top: -10px;" class="navbar-brand" href="/">
                <img class="img-responsive pull-left faa-float animated-hover faa-slow" style="" src="/assets/logo.jpg" width="240">
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav main-nav  clear navbar-right ">
                  <li><a class="navactive color_animation faa-float animated-hover faa-slow" href="#top">首頁</a></li>
                  <li><a class="color_animation faa-float animated-hover faa-slow" href="#about">關於</a></li>
                  <li><a class="color_animation faa-float animated-hover faa-slow" href="#menu">菜單</a></li>
                  <li><a class="color_animation faa-float animated-hover faa-slow" href="#contact">營業時間 & 地點</a></li>
                  <li><a class="color_animation faa-float animated-hover faa-slow" href="/">ENGLISH</a></li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div>
  </div><!-- /.container-fluid -->
</nav>
    <!-- END: Navbar -->

</header>



<div class="nk-main">

    <!-- START: Header Title -->
    <div id="top" class="nk-header-title nk-header-title-full">
        <div class="bg-image">
            <div style="background-image: url('/assets/cover.jpg'); margin-top: 20px;"></div>
            <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div>
        </div>
        <div class="nk-header-table">
            <div class="nk-header-table-cell">
                <div class="container">
                  <div class="nk-gap"></div>
                  <div class="nk-gap"></div>
                  <div class="nk-gap"></div>
                  <div class="nk-gap"></div>
                  <div class="nk-gap"></div>
                  <p>
                    <h2 style="font-size: 20px;" class="nk-subtitle text-white">AA Plus Restaurant</h2>
                    <h1 class="nk-title display-3 text-white">好好味 百搭魚湯米線
                        <br>
                        <em style="font-size: 20px;" class="fw-400">因為專注 所以好味</em>
                    </h1>
                    <div class="nk-gap"></div>
                    <div>
                        <a class="nk-header-title-scroll-down text-white  faa-float animated" href="#nk-header-title-scroll-down">
                            <span class="pe-7s-angle-down  faa-bounce animated"></span>
                        </a>
                    </div>


                </div>
            </div>
        </div>

        <div>
          <div class="faa-pulse animated-hover faa-slow">
            <a href="#nk-header-title-scroll-down">
              <span class="class="nk-header-title-scroll-down text-white"">
                <span class="fa fa-cutlery"></span>
              </span>
            </a>
          </div>
        </div>

    </div>

    <div id="nk-header-title-scroll-down"></div>

    <!-- END: Header Title -->





    <!-- START: About Our Agency -->
    <div class="bg-white" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-xs-center">
                    <div class="nk-gap-4 mt-9"></div>

                    <h2 class="display-4">什麼是百搭魚湯米線?</h2>
                    <div class="nk-gap mnt-5"></div>

                    <p>好好味 百搭魚湯米線提供品質最好的魚湯搭配著無數的料以及最Q彈的麵類。 在這裡您可以搭配出專屬於您自己最喜愛的魚湯米線。</p>


                    <div class="nk-gap-4 mt-25"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: About Our Agency -->

    <!-- START: Features -->
    <div class="nk-box bg-dark-1 text-white">
        <div class="bg-image bg-image-parallax" style="background-image: url('assets/bg1.jpg');"></div>
        <div class="nk-gap-5 mnt-6"></div>
        <div class="container">
            <div class="row vertical-gap">
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#menu">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-cutlery faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">12種</div>
                            <div class="nk-ibox-text">湯底</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#toppings">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-flask faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">44樣</div>
                            <div class="nk-ibox-text">配料</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#noodles">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-star faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">8種</div>
                            <div class="nk-ibox-text">粉麵</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#sides">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-heart faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">10樣</div>
                            <div class="nk-ibox-text">小食</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                      <a style="text-decoration: none; color: white;" href="#sides">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-bell faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">11樣</div>
                            <div class="nk-ibox-text">配菜</div>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-1">
                        <div class="nk-ibox-icon">
                            <span class="fa fa-coffee faa-tada animated faa-slow"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">12種</div>
                            <div class="nk-ibox-text">飲品</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-5 mnt-6"></div>
    </div>
    <!-- END: Features -->

    <!-- START: Menu Soup -->
    <div class="nk-box bg-white" id="menu">
        <div class="nk-gap-4 mt-5"></div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <h2 class="text-xs-center display-4">如何選擇專屬您的魚湯米線？</h2>
          <br>
        </div>
        <div class="col-md-2">
        </div>
        <div style="text-align: center; font-size: 14px;" class="col-md-12">
          <p class="text-xs-center display-7 ">湯底 + 2樣配料 + 麵或粉 + 飲品 = $10 (包稅免小費)</p>
          <hr>
        </div>
        <div class="nk-gap-4 mt-5"></div>
        <div class="col-md-12">
          <h3 class="text-xs-center display-7">第一步: 選擇您的湯底</h3>
        </div>

        <div class="nk-gap-4 mt-5"></div>

        <div class="nk-gap-2 mt-12"></div>
        <div class="container">
        <div class="nk-portfolio-list nk-isotope nk-isotope-4-cols">


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/03.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">新會陳皮肉碎</h2>
                            <div class="portfolio-item-category">魚湯</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">胡椒生薑</h2>
                            <div class="portfolio-item-category">魚湯</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Soup">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/01.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">原味</h2>
                            <div class="portfolio-item-category">魚湯</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">番茄南瓜</h2>
                            <div class="portfolio-item-category">魚湯</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">芫茜皮蛋</h2>
                            <div class="portfolio-item-category">魚湯</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/04.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">鮮木瓜生熟薏米</h2>
                            <div class="portfolio-item-category">魚湯</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/02.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">日本味增紫菜</h2>
                            <div class="portfolio-item-category">魚湯</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">南洋沙爹</h2>
                            <div class="portfolio-item-category">魚湯</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/10.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">清雞湯</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/06.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">素湯底</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/07.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">泰式冬蔭功湯</h2>
                            <div class="portfolio-item-category">辣</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/05.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">馬來喇沙湯</h2>
                            <div class="portfolio-item-category">辣</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Soup/08.jpg');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">麻辣湯</h2>
                            <div class="portfolio-item-category">辣</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="nk-gap-4 mt-15"></div>
        <hr>
    </div>
    <!-- END: Menu Soup -->



    <!-- START: Menu Toppings -->
    <div class="nk-box bg-white" id="toppings">
        <div class="nk-gap-4 mt-5"></div>
        <div class="col-md-12">
          <h3 class="text-xs-center display-7">第二步： 選擇您的配料</h3>
        </div>
        <div class="col-md-12">
          <p class="text-xs-center display-7">另加配料每款 $1.50</p>
        </div>

        <div class="nk-gap-4 mt-5"></div>

        <div class="nk-gap-2 mt-12"></div>
        <div class="container">
        <div class="nk-portfolio-list nk-isotope nk-isotope-4-cols">


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/40.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">牛腩片</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/31.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">牛筋</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Soup">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/36.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">牛肚</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/17.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">牛柏葉</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/32.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">鮮滑牛肉</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/33.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">肥牛片</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/38.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">豬腸</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/37.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">豬肚</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/41.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">豬肝</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/34.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">豬頸脊</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/39.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">鮮雞胸肉片</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/12.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">越南牛丸</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/7.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">越南札肉</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/16.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">香菇貢丸</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/19.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">午餐肉</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/22.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">火腿條</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/11.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">脆皮腸</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/44.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">煙燻雞尾腸仔</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/10.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">珍寶芝士腸</h2>
                            <div class="portfolio-item-category">肉</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/35.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">鮮魚片</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/30.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">鮮墨魚片</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/1.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">紐西蘭青口</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/43.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">鮮鯪魚滑</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/13.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">魚蛋</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/6.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">墨魚丸</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/3.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">港式魚腐</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/9.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">魚肉豆腐</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/27.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">蟹柳</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/4.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">龍蝦丸</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/13.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">包心蝦丸</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/8.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">竹輪卷</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/100.gif');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">炸魚片</h2>
                            <div class="portfolio-item-category">海鮮</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/2.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">鹵水蛋</h2>
                            <div class="portfolio-item-category">其他</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/28.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">鮮腐皮</h2>
                            <div class="portfolio-item-category">其他</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/15.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">炸豆腐</h2>
                            <div class="portfolio-item-category">其他</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/20.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">金針菇</h2>
                            <div class="portfolio-item-category">蔬菜</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/21.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">鮮蘑菇</h2>
                            <div class="portfolio-item-category">蔬菜</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/29.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">紫菜</h2>
                            <div class="portfolio-item-category">蔬菜</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/23.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">南瓜片</h2>
                            <div class="portfolio-item-category">蔬菜</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/18.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">菜心</h2>
                            <div class="portfolio-item-category">蔬菜</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/26.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">黑木耳</h2>
                            <div class="portfolio-item-category">蔬菜</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/25.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">雲耳</h2>
                            <div class="portfolio-item-category">蔬菜</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/24.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">炆冬菇</h2>
                            <div class="portfolio-item-category">蔬菜</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Toppings/14.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">炸芋頭</h2>
                            <div class="portfolio-item-category">蔬菜</div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          </div>
          <div class="nk-gap-4 mt-15"></div>
          <hr>
      </div>
    <!-- END: Menu Toppings -->


    <!-- START: Noodle Menu -->
    <div class="nk-box bg-white" id="noodles">
      <div class="nk-gap-4 mt-5"></div>
      <div class="col-md-12">
        <h3 class="text-xs-center display-7">第三步： 選擇您的粉麵類</h3>
      </div>

      <div class="nk-gap-4 mt-5"></div>

      <div class="nk-gap-2 mt-12"></div>
      <div class="container">
      <div class="nk-portfolio-list nk-isotope nk-isotope-4-cols">


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/1.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">米線</h2>
                            <div class="portfolio-item-category">粗</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/2.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">米粉</h2>
                            <div class="portfolio-item-category">幼</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Soup">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/3.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">河粉</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/6.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">油麵</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/7.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">出前一丁</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/4.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">韓式水晶粉</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/5.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">日式烏冬</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="nk-isotope-item" data-filter="Food">
                <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                    <div class="nk-portfolio-item-image">
                        <div style="background-image: url('assets/Food/Noodle/8.JPG');"></div>
                    </div>
                    <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                        <div>
                            <h2 class="portfolio-item-title h3">日式拉麵</h2>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>
        <div class="nk-gap-4 mt-15"></div>
        <hr>

        <!-- START: MISC MENU -->

        <div class="nk-box bg-white" id="sides">
          <div class="nk-gap-4 mt-5"></div>
          <div class="col-md-12">
            <h3 class="text-xs-center display-7">小食 & 配菜</h3>
          </div>

          <div class="nk-gap-4 mt-5"></div>

          <div class="nk-gap-2 mt-12"></div>
          <div class="container">
          <div class="nk-portfolio-list nk-isotope nk-isotope-4-cols">


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/1.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">風沙雞翼</h2>
                                <div class="portfolio-item-category">$2.50 （包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/2.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">吉利豬排</h2>
                                <div class="portfolio-item-category">$2.50 （包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/10.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">吉利魚柳</h2>
                                <div class="portfolio-item-category">$2.50 （包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Soup">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/3.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">吉利豬排／吉利魚柳／雞翼配薯條</h2>
                                <div class="portfolio-item-category">$5.00（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/4.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">雞蛋仔</h2>
                                <div class="portfolio-item-category">$4.00（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/5.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">鹽酥雞</h2>
                                <div class="portfolio-item-category">$5.00（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/12.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">紅油水餃 (7個)</h2>
                                <div class="portfolio-item-category">$5.00（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/6.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">黃油海南雞髀喇沙</h2>
                                <div class="portfolio-item-category">$10.00（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/7.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">黃油海南雞髀油飯</h2>
                                <div class="portfolio-item-category">$10.00（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/8.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">原隻北菇滑雞蒸飯</h2>
                                <div class="portfolio-item-category">$7.50（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/9.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">豉汁排骨火腿蒸飯</h2>
                                <div class="portfolio-item-category">$7.50（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/14.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">鹹蛋三色臘味蒸飯</h2>
                                <div class="portfolio-item-category">$7.50（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/15.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">大澳梅菜肉餅蒸飯</h2>
                                <div class="portfolio-item-category">$7.50（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/11.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">荷香欖菜面醬蒸豆腐魚</h2>
                                <div class="portfolio-item-category">$10.00（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nk-isotope-item" data-filter="Food">
                    <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                        <div class="nk-portfolio-item-image">
                            <div style="background-image: url('assets/Food/Sides/13.jpg');"></div>
                        </div>
                        <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                            <div>
                                <h2 class="portfolio-item-title h3">竹笙雲耳紅杞荷葉蒸雞</h2>
                                <div class="portfolio-item-category">$10.00（包稅免小費）</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            </div>
            <div class="nk-gap-4 mt-15"></div>
            <hr>

        <!-- END: MISC MENU -->


    </div>
    <!-- END:  MENU -->




    <!-- START: Contact Info -->
    <div class="container" id="contact">
        <div class="nk-gap-5"></div>
        <div class="row vertical-gap">
            <div class="col-lg-5">
                <!-- START: Info -->
                <h2 class="display-4">營業時間 & 地點:</h2>
                <div class="nk-gap mnt-3"></div>

                <ul class="nk-contact-info">
                    <li>
                        <strong>地址:</strong> 5207 Victoria Dr, Vancouver, BC V5P 3V4</li>
                    <li>
                        <strong>電話:</strong> (604) 565-8121</li>
                    <li>
                        <strong>營業時間:</strong>
                        <ul>
                          <li>星期一: 10:30am ~ 8:30pm</li>
                          <li>星期二: 10:30am ~ 8:30pm</li>
                          <li>星期三: 公休</li>
                          <li>星期四: 10:30am ~ 8:30pm</li>
                          <li>星期五: 10:30am ~ 8:30pm</li>
                          <li>星期六: 10:30am ~ 8:30pm</li>
                          <li>星期日: 10:30am ~ 8:30pm</li>
                        <ul>
                    </li>
                </ul>
                <!-- END: Info -->
            </div>

            <div class="col-lg-7">
              <div class="maps" onclick="document.getElementById('iframe').style.pointerEvents= 'auto'">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10420.234542515831!2d-123.0656173!3d49.2373775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c31a8afdb8e7df9!2sAA+Plus+Restaurant!5e0!3m2!1sen!2sca!4v1499765091922" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>

        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Contact Info -->




    <!--
START: Footer
-->
    <footer class="nk-footer">


        <div class="nk-footer-cont">
            <div class="container text-xs-center">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <p class="sub-footer-text text-center"><a href="#top">回到頂部</a></p>
              </div>
              <div class="col-md-4">
                <div class="sub-footer-text text-center">
                    <p style="font-size: 10px;">&copy; <a style="text-decoration: none;" href="http://www.noctiflow.com">Noctiflow <%= Time.now.strftime("%Y") %> <img src="/assets/noctiflowlogo.png"></a></p>
                </div>
              </div>
            </div>




      </div>
    </footer>
    <!-- END: Footer -->


</div>
